.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-background {
  background-image: url('./images/home-background.jpg');
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

/* NAV */
.NavBar {
  overflow: hidden;
  padding: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #63636349;
}

.NavBar a {
  text-align: center;
  text-decoration: none;
  margin: 50px;
  padding: 6px;
}

.nav-link:hover, .selected-tab {
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 15px;
}

.link-title {
  color: #636363;
}

/* HOME */
.home-greeting {
  font-size: 21px; 
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2%;
  padding: 12px;
  color: #636363;
}

.tagline {
  color: #636363;
  font-style: italic;
}

/* ACCOUNT */
.account-greeting {
  font-size: 19px;
  margin-top: 2%;
  opacity: 0.8;
  color: #63636398;
}

.account-logo {
  margin-top: 1%;
  opacity: 80%;
}

.form {
  font-size: 14px;
  height: 8px;
  width: 170px;
  border-radius: 3px;
  display: inline-block;
  margin: 0px 5px 0px 5px;
  padding: 10px;
  vertical-align: middle;
  background-color: #ffffff;
  opacity: 0.7;
  color: #636363;
}

.form-select {
  font-size: 14px;
  height: 35px;
  width: 200px;
  display: inline-block;
  padding: 10px;
  margin: 0px 5px 0px 5px;
  vertical-align: middle;
  background-color: #ffffff;
  opacity: 0.7;
  color: #636363;
}

.form-text {
  font-size: 14px;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  background-color: #ffffff;
  opacity: 0.7;
  color: #636363;
}

.form-button {
  font-size: 14px;
  height: 30px;
  border-radius: 8px;
  color: #636363;
}

.caution {
  color: #636363;
  font-size: 12px;
  font-style: italic;
  line-height: 5px;
}

/* LOGBOOK */
.FlightLog {
  width: 1000px;
  margin: auto;
}

.FlightCard {
  float: left;
  width: 280px;
  height: 85px;
  margin: 10px;
  line-height: 5px;
  border-radius: 8px;
  position: relative;
  top: 30px;
  left: 50px;
  border: solid 0.7px #636363;
  background-color: #ffffff;
  opacity: 0.75;
  color: #636363;
}

.card-link {
  position: absolute;
  left: 15px;
  float: left; 
  text-decoration: none;
  color: #129da1;
}

.card-edit {
  float: left;
  bottom: 20px;
}

.edit-link {
  text-decoration: none;
  color: #129da1;
}

.card-link:hover, .edit-link:hover {
  color: #63636398;
  opacity: 0.8;
  border-radius: 12px;
}

.card-details {
  font-weight: bold;
  position: relative; 
  left: 70px;
  text-align: center;
  text-decoration: none;
}

.FlightShow {
  width: 510px;
  height: 615px;
  margin: auto;
  margin-top: 3%;
  padding: 5px 30px 5px 30px;
  border-radius: 8px;
  border: solid 0.7px #636363;
  background-color: #ffffff;
  opacity: 0.8;
  color: #636363;
}

.show-label {
  font-size: 10px;
  font-weight: bold;
  color: #63636398;
}