.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-background {
  background-image: url('./images/home-background.jpg');
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

/* .route-title {
  border: solid black;
  border-width: 3px;
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  background-color: white;
  opacity: 0.8;
} */

/* NAV */
.NavBar {
  overflow: hidden;
  padding: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #63636349;
}

.NavBar a {
  text-align: center;
  text-decoration: none;
  margin: 50px;
  padding: 6px;
}

.nav-link:hover, .selected-tab {
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 15px;
}

.link-title {
  color: #636363;
}

/* HOME */
.home-greeting {
  font-weight: bold;
  border: solid #636363;
  border-width: 3px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 6%;
  padding: 12px;
  background-color: #ffffff;
  opacity: 0.8;
  color: #636363;
}

.tagline {
  color: #636363;
  font-style: italic;
}

/* ///////////////////BOOKS/////////////////// */
/* .book-list {
  border: solid black;
  border-width: 3px;
  display: inline-block;
  width: auto;
  max-width: 800px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2%;
  vertical-align: middle;
  background-color: white;
  opacity: 0.8;
}

.book-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  display: inline-block;
  list-style-type: none;
}

.google-search {
  padding: 4px;
}

.LibraryList {
  padding-bottom: 1px;
} */

/* ACCOUNT */
.account-greeting {
  font-size: 21px;
  font-weight: bold;
  border: solid #636363;
  border-width: 3px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4%;
  padding: 5px 15px 5px 15px;
  background-color: #ffffff;
  opacity: 0.8;
  color: #636363;
}

.account-form {
  font-size: 16px;
  height: 10px;
  width: 200px;
  border: solid #636363;
  border-width: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  background-color: #ffffff;
  opacity: 0.7;
  color: #636363;
}
